# Force GitHub to recognize these files as C++
*.cpp linguist-language=C++
*.cxx linguist-language=C++
*.cc  linguist-language=C++
*.hpp linguist-language=C++
*.h   linguist-language=C++
sqlite3.c linguist-generated
