# Treat C++ files explicitly
*.cpp linguist-language=C++
*.cxx linguist-language=C++
*.cc  linguist-language=C++
*.hpp linguist-language=C++
*.h   linguist-language=C++

# Ignore sqlite3.c in language stats
sqlite3.c linguist-generated
